@model Degree

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Degree</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DegreeID" />
            <div class="form-group">
                <label asp-for="DegreeAbbrev" class="control-label"></label>
                <input asp-for="DegreeAbbrev" class="form-control" />
                <span asp-validation-for="DegreeAbbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeName" class="control-label"></label>
                <input asp-for="DegreeName" class="form-control" />
                <span asp-validation-for="DegreeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOFTerms" class="control-label"></label>
                <input asp-for="NumberOFTerms" class="form-control" />
                <span asp-validation-for="NumberOFTerms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
