@model Credit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Credit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CreditID" />
            <div class="form-group">
                <label asp-for="CreditAbbrev" class="control-label"></label>
                <input asp-for="CreditAbbrev" class="form-control" />
                <span asp-validation-for="CreditAbbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditName" class="control-label"></label>
                <input asp-for="CreditName" class="form-control" />
                <span asp-validation-for="CreditName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSummer" class="control-label"></label>
                <input asp-for="IsSummer" class="form-control" />
                <span asp-validation-for="IsSummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSpring" class="control-label"></label>
                <input asp-for="IsSpring" class="form-control" />
                <span asp-validation-for="IsSpring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFall" class="control-label"></label>
                <input asp-for="IsFall" class="form-control" />
                <span asp-validation-for="IsFall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
